  h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .mat-toolbar{
    background: #e22b2b;
    justify-content: space-between;
  }
  .mat-icon{
    vertical-align: top;
    color: rgb(255, 255, 255);
  }
  .mat-icon-button{
    vertical-align: top;
  }