<div class="home">
  <div class="des">
    <p>
      A home page is a webpage that serves as the starting point of website. It is the default webpage that loads when
      you visit a web address that only contains a domain name.
    </p>
    <p>
      The home page often serves to orient visitors by providing titles, headlines and images and visuals that show what the website is about, and in some cases, who owns it and maintains it. 
    </p>
    <app-button text="Home" ref="/home"></app-button>
  </div>
  <div class="break"></div>
  <div class="des">
    <p>
      A project is defined as a sequence of tasks that must be completed to attain a certain outcome. Here is a list of
      our projects. 
    </p>
    <p>Every project is unique, producing something that did not previously exist. A project is a one-time, once-off activity, never to be repeated exactly the same way again.</p>
    <p>A project operates within certain constraints of time, money, quality, and functionality. </p>
    <app-button text="List" ref="/projects"></app-button>
  </div>
  <div class="break"></div>
  <div class="des">
    <p>
      A profile page represents information regarding a user’s identity on a website or in a mobile app. It may contain
      personal data, a profile photo, summary, interests, achievements, and more.
    </p>
    <p>
      This provides any user to learn information about the person who has developed a website or a mobile application. 
    </p>
    <app-button text="Profile" ref="/profile"></app-button>
  </div>
</div>
