<div class="home">
  <div class="des">
    <p>
      A home page is a webpage that serves as the starting point of website. It is the default webpage that loads when
      you visit a web address that only contains a domain name.
    </p>
    <app-button text="Home" ref="/home"></app-button>
  </div>
  <div class="break"></div>
  <div class="des">
    <p>
      A project is defined as a sequence of tasks that must be completed to attain a certain outcome. Here is a list of
      our projects.
    </p>
    <app-button text="List" ref="/projects"></app-button>
  </div>
  <div class="break"></div>
  <div class="des">
    <p>
      A profile page represents information regarding a user’s identity on a website or in a mobile app. It may contain
      personal data, a profile photo, summary, interests, achievements, and more.
    </p>
    <app-button text="Profile" ref="/profile"></app-button>
  </div>
</div>
