.container {
  margin: 10px;
  margin-bottom: 15px;
  align-items: center;
  height: 100%; 
  display: flex;
}
h1 {
  margin: 10px;
  font-size:25px;
  display: inline-block;
}
  .blk {
    float: left;
    margin: 10px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    display: inline;
    background-color: rgb(190, 185, 185);
    width: 60%;
    align-items: center;
  }
  progress {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    width: 97%;
  }
  .ppfile {
    margin-left: 10px;
  }
  .mat-raised-button {
    margin: 10px;
    margin-right: 0px;
  }
  .mat-form-field {
    margin-left: 10px;
    width: 96%;
  }
  