<div class="container">
    

<form class="blk" (ngSubmit)="onSubmit()">
    <h1>Member Details</h1>
    <br/>
    <input type="file" name="profilepic" (change)="uploadFile($event)">
    <progress *ngIf="!imgupdateFlag" value={{uploadPercent|async}} max="100"></progress><br>
    <!-- <img src="/assets/images/pp.jpg" alt="user-profile-picture" class="avatar"/><br> -->
    <label for="firstName">First Name</label><br/>
    <input [(ngModel)]="memberInfo.firstName" id="memberInfo.firstName" type="text" name="firstName">
    <br/>

    <label for="lastName">Last Name</label><br/>
    <input [(ngModel)]="memberInfo.lastName" id="lastName" type="text" name="lastName">
    <br/>
    <label for="email">Email</label><br/>
    <input [(ngModel)]="memberInfo.email" id="email" type="email" name="email">
    <br/>
    <label for="phoneNo">Phone No.</label><br/>
    <input [(ngModel)]="memberInfo.phone" id="phoneNo" type="number" name="phone">
    <br/>
    <label for="hoursPerWeek">Hours per week</label><br/>
    <input [(ngModel)]="memberInfo.hoursPerWeek" id="hoursPerweek" type="number" name="hoursPerWeek">
    <br/>
    <input routerLink="/projects" type="button" class="btn" value="Cancel">
    <input type="submit" class="btn" value="Save">

 </form>
 </div>
