mat-toolbar {
    justify-content: space-between;
    background-color: #0b6351;
    color: white;
  }
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 45px;
}
button{
    background-color: #0b6351;
    color: white;
  }
.cntent {
  min-height: 70vh;
}