.container {
    margin: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /*width: 100%;*/
    height: 75vh; 
    display: flex;
    flex-direction: column;
  }
  .btn {
    display: block;
    margin: auto;
    padding: 7px;
    background-color: rgb(47, 79, 68);
    color: white;
    cursor: pointer;
  }