.container {
  margin: 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*width: 100%; */
  height: 75vh; 
  display: flex;
  flex-direction: column;
}
.nr {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.googleBtn {
  cursor: pointer;
}
h1{
  color: red;
}
.ff {
  display: block;
  width: 100%;
}
.blk {
  width: 30%;
}
.btn {
  background-color: rgb(204, 204, 189);
}
.mat-icon {
  font-size: large;
  overflow: unset;
}