
<div class="container">
    <h1>Arjun Holla</h1>
    <h3>Personal Profile</h3>
    <img src="/assets/images/pp.jpg" class="profilepic" alt="profile-picture" border="0" />
    <h4>About Me</h4>
    <p class="info">Hi, I'm Arjun, I have a huge passion for web-development and programming. I love to learn and thrive from challenges.</p>
    <h4>My Skills</h4>
    <div class="listFlex">
       <div>
          <ul>
             <li>Python</li>
             <li>HTML</li>
             <li>CSS</li>
          </ul>
       </div>
       <div>
          <ul>
             <li>React</li>
             <li>Java</li>
             <li>C</li>
          </ul>
       </div>
    </div>
    <h4>Social Media</h4>
    <p>Catch me on Twitter - <a href="www.twitter.com">@arjun</a></p>
 </div>
