<div class="container">
  <h1>Arjun Holla</h1>
  <h3>Personal Profile</h3>
  <mat-card>
  <img src="/assets/images/pp.jpg" class="profilepic" alt="profile-picture" border="0" />
  <mat-card-content>
  <p class="info">
    Hi, I'm Arjun, I have a huge passion for web-development and programming. I love to learn and thrive from
    challenges.
  </p>
  </mat-card-content>
</mat-card>
  <h4>My Skills</h4>
  <div class="listFlex">
    <div>
      <mat-list>
        <mat-list-item>Python</mat-list-item>
        <mat-list-item>HTML</mat-list-item>
        <mat-list-item>CSS</mat-list-item>
      </mat-list>
    </div>
    <div>
      <mat-list>
        <mat-list-item>React</mat-list-item>
        <mat-list-item>Java</mat-list-item>
        <mat-list-item>C</mat-list-item>
      </mat-list>
    </div>
  </div>
  <h4>Social Media</h4>
  <p>Catch me on Twitter - <a href="www.twitter.com">@arjun</a></p>
</div>
