<div class="container">
    
<form class="blk" (ngSubmit)="onSubmit()">
    <h1>Project Details</h1>
    <br/>
    <label>Name</label>  <br />
    <!-- <input type = "text" name = "name" /> -->
    <input type="text" name="name" [(ngModel)]="project.name"/><br/>
    <label>Techstack</label> <br />
    <!-- <input type = "text" name = "name" /> -->
    <input type="text" name="techstack" [(ngModel)]="project.techstack"/><br/>
    <label>Duration</label> <br />
    <input type="text" name="duration" [(ngModel)]="project.duration"/><br/>
    <label>Budget</label> <br />
    <input type="text" name="budget" [(ngModel)]="project.budget"/><br/>
    <label>Description</label>  <br />
    <textarea class="des" rows = "5" cols = "70" name = "description" [(ngModel)]="project.description"></textarea>
    <br/>
    <label>Start Date</label> <br />
    <input type="datetime-local" name="date" [(ngModel)]="project.startdate"/><br/>
    <label>Status</label> <br />
    <select name="status" class="statusselect"  [(ngModel)]="project.status">
        <option value="Completed">Completed</option>
        <option value="In-progress">In-Progress</option>
        <option value="New" selected>New</option>
        <option value="Budgeted">Budgeted</option>
    </select>
    <input routerLink="/projects" type="button" class="btn" value="Cancel">
    <input type="submit" class="btn" value="Save">
 </form>
 <div *ngIf="this.flag" class="members">
    <h1>Member Details</h1>
    <button class="btn1" routerLink="/projects/add-members">+</button>
    <table id="memberstable" class="namelist">
        <tr>
            <th></th>
            <th>Name</th>
        </tr>
        <tr *ngFor="let member of members$ | async">
            <td><img src="{{member.pppath}}" width="60px" height="60px" alt="Profilepic"></td>
            <td>{{member.firstName}} {{member.lastName}}</td>
            <td><a (click)="handleUpd($event, member);" class="rmvupd">✎</a></td>
            <td><a (click)="handleDel($event, member);" class="rmvupd">🗑️</a></td>
        </tr>
      
    </table>
  </div>
</div>