.container {
    margin: 10px;
    margin-bottom: 15px;
    justify-content: center;
    height: 100%; 
    display: flex;
  }
  h1 {
    margin: 10px;
    font-size:25px;
    display: inline-block;
  }
  .blk {
    float: left;
    margin: 10px;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    display: inline;
    background-color: rgb(190, 185, 185);
    width: 60%;
    align-items: center;
  }
  .members{
    width: 40%;
    margin: 10px;
    margin-left: 5px;
    align-items: center;
    border: 3px solid #f1f1f1;
    padding: 16px;
    background-color: rgb(190, 185, 185);
  }
  .namelist {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(190, 185, 185);
  }
 td, th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
    text-align: center;
  }
  .rmvupd {
    cursor: pointer;
  }
  .btn1 {
    float: right;
  }
  .mat-raised-button {
    margin: 10px;
    margin-right: 0px;
  }
  .mat-form-field {
    margin-left: 10px;
    width: 96%;
  }
  
