<div class="listing">
  <h2>Our Projects and its Tech Stack</h2>
  <table id="projectlisting" class="projectlisting">
    <tr>
      <th>Project</th>
      <th>Techstack</th>
      <th>Status</th>
      <th style="width: 15px;"></th>
      <th style="width: 15px;"></th>
    </tr>
    <tr *ngFor="let project of projects$ | async">
      <td>{{ project?.name }}</td>
      <td>{{ project?.techstack }}</td>
      <td>{{ project?.status }}</td>
      <td><a (click)="handleUpdate($event, project)" class="rmvupd"><mat-icon>mode_edit</mat-icon></a></td>
      <td><a (click)="handleDelete($event, project)" class="rmvupd"><mat-icon>delete</mat-icon></a></td>
    </tr>
  </table>
  <button mat-raised-button class="backbtn" routerLink="details">Add Project</button>
  <button mat-raised-button class="backbtn" (click)="goBack()">Back</button>
</div>
