.listing {
    text-align: center;
    color: #086754;
    font-size: 30px;
}
.projectlisting {
    border-collapse: collapse;
    width: 100%;
  }
 td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  a {
    color: #086754;
    text-decoration: none;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #168a5d;
    color: white;
  }
  .backbtn {
    background-color: #168a5d;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  .backbtn {
    background-color: white; 
    color:  #168a5d; 
    border: 2px solid #168a5d;
  }
  
  .backbtn:hover {
    background-color: #168a5d;
    color: white;
  }
  .active {
    background-color: #074d3f;
}

h1 {
  margin:0px;
  margin-left:10px ;
  margin-top: 17px;
  color:#ffffff;
}
h2 {
  margin-top: 10px;
  font-size: 35px;
}
.name {
  font-size: 40px;
}
.nav {
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-between;
    list-style:none;
    height: 65px; line-height:50px;
    background:#0d7963; /* you can change the backgorund color here. */
    font-size:20px;
}
.nav li {
    border-right:1px solid #189b80; /* you can change the border color matching to your background color */
    float:left;
}
.nav a {
    display:block;
    height: 60px;
    padding:0 28px;
    padding-top: 5px;
    color:#ffffff;
    text-decoration:none;
}
.nav a:hover,
.nav li.current a {
    background:#086754;
}
.fstyle{
	padding: 16px;
	background:#0d7963;
	text-align: center;
    margin: 0px;
    color: #ffffff;
}
.rmv {
  cursor: pointer;
}